RASPI
Sesion 1
Sesion 2
Ubuntu
Informe 2.pdf
Informe 3.pdf
INFORME FINAL TOPICO I.pdf
Informe1_LV.docx
Informe1_LV.pdf
INFORME2
Informe2_LV.docx
Presentación TOPICOS GENOMICA.pptx
CA Topicos de Investigacion Computacional
ChiropNCBI.sh
EJEMPLO.RData
2019_2_CATICGG.pdf
~WRL0005.tmp
~$forme2_LV.docx
r-cheat-sheet-3.pdf
Sesion 3.docx
Sesión 4.docx
Sesion 5.docx
TutorialR.docx
Tutorial de R.docx
CA Topicos de Investigacion Computacional en Genetica y Genomica (RVerdugo) v1.pdf
